.Button {
  cursor: pointer;
  padding: 4px 8px;
  display: inline-flex;
  user-select: none;
  background-color: #111;
  color: #eee;
  border: 1px solid #eee;
  border-radius: 4px;
}

.Button:hover {
  color: #fff;
  border-color: #fff;
  background-color: #222;
}

.Button:active {
  background-color: #000;
}
