.Legend {
    width: 250px;
    text-align: right;
    font: 14px sans-serif;
    color: #ccc;
    position: fixed;
    left: calc(100% - 23px);
    top: calc(100% - 23px);
    transform: translate(-100%, -100%);
}

.Legend .LegendItem {
    line-height: 20px;
    font-variant: small-caps;
}

.Legend .LegendItem .Key {
    display: inline;
    padding: 2px;
    border: 1px solid #ccc;
    font-size: 10px;
}