.Map {
    width: 10000px;
    height: 10000px;
    background-color: #333333;
    cursor: grab;
}

.Map .Start {
    font: 28px sans-serif;
    color: #ccc;
    opacity: .25;
    text-transform: capitalize;
    position: absolute;
    left: calc(5000px + 50vw);
    top: calc(5000px + 50vh);
    transform: translate(-50%, -50%);
}
