.Map {
    width: 3000px;
    height: 3000px;
    background-color: #333333;
    cursor: grab;
}

.Map.Empty {
    cursor: pointer;
}

.Start {
    width: 100%;
    text-align: center;
    font: 32px sans-serif;
    color: #ccc;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-variant: small-caps;
    cursor: pointer;
    user-select: none;
}
