.Map, .MapPreview, .Viewport {
    width: 3000px;
    height: 3000px;
}

.Map {
    background-color: #333333;
    cursor: grab;
}

.MapPreviewContainer {
    width: 225px;
    height: 225px;
    z-index: 20;
    position: fixed;
    top: 25px;
    right: 25px;
    background-color: #333333;
    filter: brightness(1.5);
    cursor: pointer;
}

.MapPreview {
    position: fixed;
    top: -1388px;
    right: -1388px;
    transform: scale(0.075);
}

.Map.Empty {
    cursor: pointer;
}

.Start {
    width: 100%;
    text-align: center;
    font: 32px sans-serif;
    color: #ccc;
    opacity: .5;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-variant: small-caps;
    cursor: pointer;
    user-select: none;
}

.Controls {
    z-index: 5;
    width: 100%;
    text-align: left;
    font: 14px sans-serif;
    color: #ccc;
    opacity: .5;
    position: fixed;
    left: calc(100% + 15px);
    top: calc(40px);
    transform: translate(-100%, -100%);
}

.Controls .ControlItem {
    font-variant: small-caps;
}

.Link {
    text-decoration: none;
}

.Button {
    cursor: pointer;
    padding: 4px 8px;
    display: inline-flex;
    user-select: none;
    background-color: #333;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Button:hover {
    color: #ddd;
    border-color: #ddd;
    background-color: #444;
}

.Button:active {
    background-color: #222;
}

.ItemIcon {
    margin-left: 8px;
}

.Info {
    width: 100%;
    text-align: right;
    font: 14px sans-serif;
    color: #ccc;
    opacity: .5;
    position: fixed;
    left: calc(-100% + 90px);
    top: calc(100% - 40px);
}

.Info .InfoItem {
    line-height: 20px;
    font-variant: small-caps;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
