.Controls {
    z-index: 5;
    text-align: left;
    font: 14px sans-serif;
    color: #ccc;
    position: fixed;
    top: 25px;
    left: 25px;
}

.Controls .ControlItem {
    font-variant: small-caps;
}
