.Info {
    pointer-events: none;
    text-align: left;
    font: 14px sans-serif;
    color: #ccc;
    position: fixed;
    bottom: 25px;
    left: 25px;
}

.Info .InfoItem {
    line-height: 20px;
    font-variant: small-caps;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.ItemIcon {
    margin-left: 8px;
}
