.Info {
    width: 100%;
    text-align: left;
    font: 14px sans-serif;
    color: #ccc;
    position: fixed;
    bottom: 25px;
    left: calc(100% + 25px);
    transform: translate(-100%, 0);
}

.Info .InfoItem {
    line-height: 20px;
    font-variant: small-caps;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.ItemIcon {
    margin-left: 8px;
}
