.Node {
    display: inline-flex;
    position: absolute;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #ccc;
    font: 14px sans-serif;
    text-align: center;
    z-index: 5;
}

.Node:hover {
    cursor: move;
}

.Node.Root {
    border-width: 5px;
    color: #333;
}

.Node.Preview:hover {
    cursor: inherit;
}

.Node.Selected {
    border-width: 5px;
}

.Node.Selected input {
    background-color: inherit;
}

.Node.New:before {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2px;
    right: 2px;
    content: '*';
    width: 14px;
    height: 14px;
    font: 20px sans-serif;
}

.Node input {
    margin: 0;
    padding: 0;
    border: none;
    font: 14px sans-serif;
    background-color: inherit;
    color: inherit;
}

.Node input:focus {
    outline: none;
}
